# Python
__pycache__/
*.py[cod]

*.egg-info/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Virtual environments
.venv/
venv/

# IDE / Editor
.vscode/
*.swp

# OS
.DS_Store

# Python environment
.python-version

# Documentation
docs/_build/
/site

# Jupyter
.ipynb_checkpoints/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.vscode/launch.json
.
data
.vscode/settings.json

slurm_script*
build*
log*
*.swp
*H1.txt
*L1.txt
*V1.txt
test_data

# Out directory of runs
outdir
jim.code-workspace
.tmp_dagster*
dagster_tmp/*

.out